
@font-face{

	font-family: 'Play';



	url('fonts/Play1.ttf') format('truetype');


	font-weight: normal;

	font-style: normal;

}
@font-face {
	font-family: 'Play';
	url('fonts/Play2.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
body{
	background: #dfe4ea;
}
#menu{
	background: #ced6e0;
	height: 40px;
	
}
#primary_nav_wrap
{
	margin-top:15px;
	background:#000;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;

	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#2f3542;
	text-decoration:none;
	font-weight:700;
	font-size:20px;
	line-height:40px;
	padding:0 15px;
	font-family: 'Play', sans-serif;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0

}

#primary_nav_wrap ul li.current-menu-item
{
	background:#CF000F;
}

#primary_nav_wrap ul li:hover
{
	background:#89C4F4;
	
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#c8d1dc;
	border-top: solid 4px #57606f;
	padding:0;
	z-index: 100;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
.exit{
	float: right;
}
.liniya { 
    width:33%; 
    background:#a4b0be; 
    float:left; 
    margin-left:1px; 
    text-align:center;
    font-weight:700;
	font-size:20px;
	line-height:40px;
	
	font-family: 'Play', sans-serif;
}
#script{
	
}
.content{
	
}
.header{
	color:#2f3542;
	border-bottom: 1px #000 solid;
	padding:2px;
	width: 98%;
}
	#wrap{
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.725);
		z-index: 200;
		overflow: auto;
	}
	
	#window{
		width: 400px;
		height: 400px;
		margin: 50px auto;
		display: none;
		background: #fff;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
	}
	
	.close{
		margin-left: 364px;
		margin-top: 4px;
		cursor: pointer;
	}
	.btn_icon{
		width:16px;
		margin-right: 5px;
	}
	.btn_add{
		padding:3px;
		
	}
	.eff_area{
		background-color: #fff;
		width: 90%;
		height: 400px;
		margin-bottom: 20px;
		overflow: scroll;
	}
	#eff_options_window{
		width: 400px;
		height: 300px;
		margin: 50px auto;
		display: none;
		background: #fff;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
	}
#dimmer{
	width: 400px;
	height: 300px;
	margin: 50px auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
}
#eff_options_on{
	width: 400px;
	height: 300px;
	margin: 50px auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
}
	.eff_aded{
		font-size: 15px;
		
	}

	#save_script{
		width: 400px;
		height: 300px;
		margin: 50px auto;
		display: none;
		background: #fff;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
	}
	.eff_container{
		border-bottom: 1px #000 solid;
		width:100%;
		display:flex;
	}

	.move_next{
		cursor: pointer;

	}
	.move_prev{
		cursor: pointer;
	}
	.dell_eff{
		cursor: pointer;
		position: relative;

	}
	.arrow_cont{
		margin-top: 30px;
		-webkit-flex: 0.6;
		flex: 0.6;
	}

	.eff_inf{

		-webkit-flex: 1.9;
		flex: 1.9;

	}
	.del_cont{
		margin-top: 30px;
		-webkit-flex: 0.5;
		flex: 0.5;

	}